.password-input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 6px;
  }
  
  .password-input-wrapper input[type="password"] {
    flex: 1;
    border: none;
    outline: none;
  }
  
  .password-input-wrapper .password-icon {
    cursor: pointer;
    margin-left: 8px;
    color: #888;
  }
  .active-link {
    color: red;
    /* Add any additional styles you want for the active link */
  }